.employee-container .table-container ,.newEmployee-container .table-container{
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 여백 추가 */
}

.employee-container .flex-container,.newEmployee-container .flex-container {
    display: flex;
    justify-content: space-between; /* 테이블과 버튼 사이의 공간을 최대로 확보 */
    align-items: center; /* 세로 중앙 정렬 */
}

.employee-container table ,.newEmployee-container table{
    width: calc(100% - 120px); /* 버튼 너비 제외한 테이블 너비 설정 */
    border-collapse: collapse;
    margin-bottom: 10px; /* 테이블 아래 여백 */
}

.employee-container th, .employee-container td, .newEmployee-container th, .newEmployee-container td {
    border: 1px solid grey;

    text-align: center;
}

.employee-container th{
    background-color: #D9D9D9;
    text-align: center; /* 중앙 정렬 추가 */

    width: 100px; /* 원하는 너비 설정 */
}
.newEmployee-container th{
    background-color: #1E1F31;
    text-align: center; /* 중앙 정렬 추가 */
    color: white;
    width: 100px; /* 원하는 너비 설정 */
}
.employee-container tbody , .newEmployee-container tbody{
    background-color: white;
}

.employee-container .employeeList th {
    background-color: #292929;
    text-align: center; /* 중앙 정렬 추가 */
    padding: 10px; /* 적절한 패딩 설정 */
    width: 100px; /* 원하는 너비 설정 */
    color: white;
}

.employee-container input[type="text"],
.employee-container input[type="email"],
.employee-container select,
.newEmployee-container input[type="text"],
.newEmployee-container input[type="email"],
.newEmployee-container select {
    width: calc(100% - 12px);
    padding: 6px;
    box-sizing: border-box;
    background-color: transparent; /* 투명 배경 */
    border: none; /* 테두리 제거 */
}
.list-search-button{
    height: 100px;
    width: 150px;
    border: none; /* Remove default button border */
    background-color: #292929;
    color: white;

    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer */

}

.list-table {
    width: 100%;
    border-collapse: collapse;
}

.list-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.list-table tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

.list-table th, .list-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.list-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}



.plus-button{

    padding: 10px;

}
.employee-detail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;

}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid darkgray;
    /*border-radius: 10px;*/
    background-color: white;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h2 {
    margin-bottom: 10px;
}

.details-section {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.detail-card {
    flex: 1 1 calc(33.333% - 20px);
    padding: 20px;
    border: 1px solid #ddd;
    /*border-radius: 10px;*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
    background-color: white;
}

.detail-card h3 {
    margin-bottom: 10px;
}

.detail-card p {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .detail-card {
        flex: 1 1 100%;
    }
}
.plus-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    color: grey;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 24px; /* Adjust font size as needed */
    border-style: solid;
    border-color: grey;
}



.plus-symbol {
    font-weight: bold;
    line-height: 1; /* Ensure the plus symbol is vertically centered */
}

.detail-card .value, .profile-info .value{
    margin-left: 15px;
}
.profile-info p,.detail-card p {
    margin: 5px 0;
}
.profile-info .label,.detail-card .label {
    font-weight: bold;
}
.save-btn{
    background-color: #1E1F31; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.find-password-button {
    background-color:  #1E1F31; /* Blue color for button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

