/* 클래스 이름 통일?(임시로 작성한 클래스 이름이 많음) */


/* 페이지 전체 영역 ------------------------------------------------------------- */
/* html,body,#root{margin: 0 ; padding:0;  height: 100%; } */
body::-webkit-scrollbar{display: none;}
body{background-color: #F6F6F6;}

/* layout--------------------------------------------------------------------------- */
#layout-wrap{display:flex; height:100%;}
.layout-left{flex:none; position: relative; z-index: 5;}
.layout-right{flex-grow: 1; margin-left: 260px;}

/* header ----------------------------------------------------------------------- */
.panda-header{width:100%; height: 100px; display: flex; justify-content: space-between;  box-shadow: 0 8px 10px -7px gray;  position: relative; z-index: 1; background-color: white;}
.panda-logo {width:315px; height :90px; padding: 10px; background-image : url('/public/image/logo/pandaOffice_logo.png'); background-size : 300px 70px; background-position : center; background-repeat: no-repeat; }
.panda-logo{flex:none;}
.icon-area{ display: flex; justify-content: space-between; flex: none; align-items: center;  margin-right: 50px; gap:20px;} /*헤더 오른쪽 아이콘 공간*/
.icon-area .icon{width: 45px; height: 45px;}

/* 아이콘 위치 조정 */
.icon .bell {flex: none; width: 40px; height:40px; color:#898989 } /* 고정된 크기로 설정 */
/*.icon .calender {flex: none; width: 35px; height:35px; color:#898989} /* 남은 공간을 모두 차지하도록 설정 */
.icon .logout {flex: none;  width: 40px; height:40px; color:#898989}/* 고정된 크기로 설정 */
/* .icon-area .icon.bell{background-image : url('/public/image/icon/iconmonstr-bell-1.svg'); background-size: 45px 45px; background-position : center; background-repeat: no-repeat;} */
/* .icon-area .icon.calender{background-image : url('/public/image/icon/iconmonstr-calendar-5.svg'); background-size: 45px 45px; background-position : center; background-repeat: no-repeat;} */
/* .icon-area .icon.logout{background-image : url('/public/image/icon/iconmonstr-log-out-18.svg'); background-size: 45px 45px; background-position : center; background-repeat: no-repeat;} */


/* navbar ------------------------------------------------------------------------ */
.nav-wrap { width: 260px; height: 100vh; background-color: #1E1F31; color: #fff; position: absolute; }
.toggle-box { width: 50px; height: 50px; position: absolute; top: 10px; left: 5px; background-color: #00c8ff; display: flex; justify-content: center; align-items: center; }
.arrow-icons { width: 30px; height: 0px; }
.side-nav { display: flex; flex-direction: column; align-items: center; }
.side-clock { border: 1px solid #fff; border-radius: 50%; width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; font-size: 30px; margin: 50px 0 10px 0; font-weight: bold; }
.check-button { margin: 10px 0 25px 0; width: 65%; display: flex; justify-content: space-between; }
.check-button button { width: 80px; height: 35px; font-size: 16px; border-radius: 8px; border: none; cursor: pointer; color: #fff; }
.check-button button:first-child { background-color: #2B9BCB; }
.check-button button:last-child { background-color: #858585; }
.side-icons { width: 27px; height: 27px; color: #c1c1c1; margin-right: 15px; }
.sub-1 { width: 25px; height: 25px; }
.nav-link { display: flex; text-decoration: none;}
.department-list { width: 70%; border-top: 1px solid #fff; }
.department-list li { margin-top: 40px; padding: 0 20px; height: 32px; }
.department-list li p:hover { color: #00c8ff; }
.department-list p { display: inline-block; font-weight: bold; color: #c1c1c1; font-size: 20px; }
.department-list li:last-child { margin-top: 100px; height: 50px; padding-top: 10px; border-radius: 8px; background-color: #3D4762; display: flex; justify-content: center; }

/* navbar(개인 컴포넌트: 접혔을 떄) ------------------------------------------------------------------------ */
.nav-wrap.collapsed { width: 65px; transition: .3s; }
.nav-wrap.collapsed:hover { width: 260px; transition: .3s; }
.nav-wrap.collapsed .side-clock, .nav-wrap.collapsed .check-button { visibility: hidden; opacity: 0; transition: opacity 0.01s ease, visibility 0.01s ease; }
.nav-wrap.collapsed:hover .side-clock, .nav-wrap.collapsed:hover .check-button { visibility: visible; transition: .1s; transition-delay: .1s; opacity: 1; }
.nav-wrap.collapsed .department-list li p { opacity: 0; }
.nav-wrap.collapsed:hover .department-list li p { visibility: visible; transition-delay: .1s; opacity: 1; }
.nav-wrap.collapsed .department-list li { padding: 0 10px; transition: .3s; height: 32px; overflow: hidden; }
.nav-wrap.collapsed:hover .department-list li { padding: 0 20px; }
.nav-wrap.collapsed .nav-link { display: block; text-decoration: none;}
.nav-wrap.collapsed:hover .nav-link { display: flex; }
.nav-wrap.collapsed .department-list li:last-child { height: 50px; padding-top: 10px; }
.nav-wrap.collapsed .department-list li:last-child .side-icons { margin-left: 15px; }
.nav-wrap.collapsed:hover .department-list li:last-child .side-icons { margin-left: 0; }

/* sidebar(메인 화면) ------------------------------------------------------------------------ */
.side-wrap.collapsed {display: none;}

/* sidebar(개인 화면) ------------------------------------------------------------------------ */
.side-wrap { height: 100%; width: 195px; position: absolute; top: 0; left: 65px; padding: 0 10px; border-right: 1px solid #C6C6C6; background-color: white;}
.side-bar { text-align: center; }
.side-bar .title { font-size: 24px; margin-top: 30px; }
.side-bar .add-btn { width: 150px; height: 40px; border: 1px solid #000; background-color: #fff; font-size: 14px; border-radius: 7px; cursor: pointer; margin: 30px 0; }
.mt-30 { margin-top: 30px; }
.mt-10 { margin-top: 10px; }
.sidebar-icons { margin-right: 5px; cursor: pointer; }
.cursor-p { cursor: pointer; }
.icons-text:hover { color: #00c8ff; }
.fs-18 { font-size: 18px; }
.fs-14 { font-size: 14px; }
.fs-12 { font-size: 12px; }
.txt-align-left { text-align: left; }
.ml-20 { margin-left: 20px; }
.ml-35 { margin-left: 35px; }
.ml-55 { margin-left: 55px; }

/* 개인 컴포넌트 공용 CSS ------------------------------------------------------------------------ */
.common-comp {overflow-y: scroll; height: calc(100vh - 100px); }
.pd {padding: 20px;}

/* footer ------------------------------------------------------------------------ */
.footer .isTrue {display: none !important;}
.panda-footer{width:100%; height: 50px; box-sizing: border-box;  background-color: white; margin-top: 40px;}
.panda-footer .text{display: block; height: 50px; line-height: 50px; text-align: center; color: #8e8e8e;}

/* main -----------------------------------------------------------------------------*/
.panda-main{ height: calc(100vh - 100px); overflow-y: scroll; overflow-x:hidden; background-color: #F6F6F6; z-index: -1;}
.panda-main::-webkit-scrollbar{display: none;}

/*  main안에서 한번 더 감싸는 용도*/
.text-box{width: 1620px; margin: 0 auto;}

/* main card (메인 상단 카드 4개) -----------------------------------------------------------------------*/
.card-area{display: flex;  gap:32px; flex-wrap: nowrap; margin-top:30px;} /*메인 컴포넌트에 작성된 클래스*/
.card-area .card{width: 297px; height: 150px; flex: none; border-radius: 15px;  background-color: white; box-shadow: 0 8px 10px -5px gray;  position: relative;}
.card-area .card .colorbar{width: 170px; height: 7px; margin: 0 auto; border-radius: 10px 10px 10px 10px; transform:  translateY(-50%);} /* 카드 상단 색상 바(position: absolute; top: -3px; left:75px; ) */
.card-area .card .card-flexbox{display: flex; height: 100%;}
.card-area .card .card-flexbox .card-left{flex-grow: 1; margin-left: 50px;}
.card-area .card .card-flexbox .card-left .card-text{text-align: center;font-size: 23px; margin: 0; line-height: 60px;}
.card-area .card .card-flexbox .card-left .card-text:nth-child(2){line-height: 38px;}
.card-area .card .card-flexbox .card-right{flex-grow: 0; width: 130px;}
.card-area .card .card-flexbox .card-right .card-circle{width: 85px; height: 85px; margin-top:26px; margin-left:10px; border-radius: 50%; background-color: lightcoral; position: relative;}
.card-area .card .card-flexbox .card-right .card-circle .circle-icon{width:50px; height: 50px; transform: translate(37%,37%); color:white ;} /* 아이콘 컴포넌트(메인에 위치)*/

/* main calender(메인 캘린더)------------------------------------------------------------------------- */
.main-calender{width: 100%; height: 600px; border-radius: 15px; box-shadow: 0 8px 10px -7px gray; margin:30px auto; background-color: white; }
.main-calender .calender-wrap{margin-top:10px; display: flex; gap:10px;}
.main-calender .calender{width: 780px; margin: 10px auto 0 auto;}
/* .main-calender .preview-area{border: 1px solid lightgray} 구역 잡는 용도*/
.main-calender .preview-area .preview{height:502px; margin-top:65px; margin-right: 10px; border: 1px solid lightgray}

/* main announcement(메인 공지사항)------------------------------------------------------------------- */
.announcement-area{display: flex; flex-wrap: wrap; margin: 0 auto; width: 100%; gap:40px;}
.announcement{width: 790px; height: 235px;  background-color: white; box-shadow: 0 8px 10px -7px gray; gap:10px; border-radius: 10px; box-sizing: border-box;}
.announcement .announcement-topbar{height: 40px; background-color: #292929; border-radius: 10px 10px 0 0; line-height: 39px;}
.announcement .announcement-topbar .announcement-title{color: white; font-size: 20px; font-weight: bold; margin: 10px 10px 10px 20px;}
.announcement .announcement-contents-area{width:700px; margin: 0 auto;} /*공지사항 박스*/
.announcement .announcement-contents-area .announcement-content{border-bottom: 1px solid #CACACA; margin-top:10px; padding-bottom: 3px; font-size: 16px;}/* 공지사항 내용물 */

/* recruitment ------------------------------------------------------------------------ */
.rm-ul li { height: 200px; }
.rm-right-comp { width: 45%; }
.rm-calendar { width: 55%; }
.rm-container {display: flex;}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}