body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------- 검색 ----------------------------------------------------------*/

option {
    border: 1px solid #ccc;
    border-radius: 0;
}

.pay-search-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #fff;
    padding: 20px;
}

.pay-search-section input[type="date"],
.pay-search-section select {
    margin-right: 20px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0 10px;
}

.pay-search-section input[type="text"] {
    margin-right: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0 10px;
}

/* 조건 검색 버튼 */
.pay-search-section button {
    height: 30px;
    width: 60px;
    color: #fff;
    background: #2F3850;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: auto;
    cursor: pointer;
}

.pay-search-section button:active {
    background: #3a4563;
}

.mypay-span {
    margin: 0 10px;
    font-size: 15px;
}

/* ---------------------------------- 데이터 테이블 ----------------------------------------------------------*/

.table-combine {
    display: flex;
    flex-direction: column;
    width: 25%;
    float: left;
    margin-right: 20px;
}

.empl-table-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 586px;
    background: #fff;
    max-height: 600px;
}


.additional-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 618px;
    background: #fff;
    max-height: 700;
}

.data-table,
.myPay-foot-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    
}

.data-table thead {
    text-align: center;
    background: #2F3850;
    color: #fff;
    line-height: 25px;
}

.data-table th,
.data-table td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 8px;
}

.data-table td {
    padding-left: 10px;
    line-height: 15px;
}

.data-table th:first-child,
.data-table td:first-child {
    border-left: none;
}

.data-table tbody td:nth-child(2) {
    text-align: right;
}

.combine-table input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 0;
}

.myPay-foot {
    background: #CACACA;
    border-collapse: collapse;
    line-height: 15px;
}

.myPay-foot-table th,
.myPay-foot-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.myPay-foot-table tfoot td:first-child {
    text-align: center;
}

/* .foot-table tfoot td.adjust-spacing {
    letter-spacing: 4.5px;
} */

.myPay-foot-table tfoot td:last-child {
    text-align: right;
}

.additional-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.additional-table th, .additional-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.additional-content {
    margin-top: 20px;
    text-align: center;
}

/* ---------------------------------- 계산결과 테이블 ----------------------------------------------------------*/
.result-table-combine {
    display: flex;
    flex-direction: column;
    /* margin-bottom: -30px; */
}

.combine-container {
    height: 700px;
    max-height: 730px;
}

.combine-table {
    width: 60%;
    height: 684px;
    border-collapse: collapse;
    table-layout: fixed;
}

.combine-table th,
.combine-table td {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 15px;
}

/* 테이블 행 간격을 위한 스타일 */
.spacer-row td {
    height: 20px; /* 원하는 간격 높이 설정 */
    background: transparent;
    border: none;
  }

.pay-title {
    background: #2F3850;
    color: #fff;
    text-align: right;
    width: 35%;
}

.pay-detail {
    background: #fff;
}

.pay-detail input[type="text"] {
    height: 120%;
    width: 90%;
    margin-left: 5px;
    font-size: 15px;
    padding: 0 10px 0 10px;
  }