<table
  width="670"
  border="1"
  cellspacing="0"
  cellpadding="5"
  style="margin-bottom: 20px"
>
  <tr>
    <th>기안자</th>
    <td>____________________</td>
    <th>기안부서</th>
    <td>____________________</td>
  </tr>
  <tr>
    <th>기안일</th>
    <td>____________________</td>
    <th>문서 번호</th>
    <td>____________________</td>
  </tr>
  <tr>
    <td colspan="4">내용: 월별 예산서 내용</td>
  </tr>
</table>

<table
  width="670"
  border="1"
  cellspacing="0"
  cellpadding="5"
  style="margin-bottom: 20px"
>
  <tr>
    <th>기안</th>
    <td>____________________</td>
    <th>인사</th>
    <td>____________________</td>
  </tr>
</table>

<table width="670" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <th>영업</th>
    <th>인사</th>
    <th>마케팅</th>
  </tr>
  <tr>
    <td>____________________</td>
    <td>____________________</td>
    <td>____________________</td>
  </tr>
</table>
