<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="find-by-teacher" method="get">
    <select name="teacherCode">
        <th:block th:each="teacher : ${teacherList}">
            <option th:value="${teacher.teacherCode}" th:text="${teacher.name}"></option>
        </th:block>
    </select>
    <button type="submit">조회</button>
</form>
</body>
</html>