<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="modify" method="post">
강사<select name="teacherCode">
    <th:block th:each="teacher : ${teacherList}">
        <option th:value="${teacher.teacherCode}" th:text="${teacher.name}"></option>
    </th:block>
</select>
상태
<select name="status">
    <option value="Y">재직</option>
    <option value="N">퇴사</option>
</select>
    <button type="submit">수정</button>
</form>
</body>
</html>