/* 기존 CSS 코드의 맨 아래에 추가 */
.approval-setting-sidebar {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    font-size: 12px;
    cursor: pointer;
}

.title {
    font-size: 34px;
    padding: 0px 0px 20px 0px;
}

.setting-icon {
    margin-top: 3px;
    margin-right: 5px;
}

.test {
    background-color: beige;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}


/* 일반 컴포넌트 헤더 */
.cc-header {
    background-color: #1E1F31;
    color: white;
    font-size: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 상하 정렬 추가 */
}

/* 일반 컴포넌트 컨텐트 */
.cc-content {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
    /* 부모 요소의 전체 높이를 차지하도록 설정 */
}

/* 폰트 정렬 */
.align-c {
    text-align: center;
}

.align-l {
    text-align: left;
}

.align-r {
    text-align: right;
}

.folder-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.folder-name {
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    white-space: nowrap;
    /* 줄바꿈 방지 */
    overflow: hidden;
    /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;
    /* 넘치는 내용 말줄임표 처리 */
    width: auto;
    /* 폴더 이름에 맞춰 너비 자동 조정 */
    max-width: 200px;
    /* 최대 너비 설정 (필요에 따라 조정) */
}

.selected-folder-name {
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    color: #2076B4;
    white-space: nowrap;
    /* 줄바꿈 방지 */
    overflow: hidden;
    /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;
    /* 넘치는 내용 말줄임표 처리 */
    width: auto;
    /* 폴더 이름에 맞춰 너비 자동 조정 */
    max-width: 200px;
    /* 최대 너비 설정 (필요에 따라 조정) */
    font-weight: bold;
}

.template-name {
    font-size: 16px;
    margin-left: 5px;
}

/* 폴더 컴포넌트 스타일 */
.folder-button-navy {
    border-radius: 3px;
    background-color: #1E1F31;
    width: 30%;
    height: 30px;
    border: solid #C6C6C6 1px;
    color: #FFFFFF;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}

.folder-button-grey {
    border-radius: 3px;
    background-color: #E6E6E6;
    width: 30%;
    height: 30px;
    border: solid #999999 1px;
    color: #000000;
    margin: 20px 5px 20px 5px;
    cursor: pointer;
}

.folder-search-input {
    width: 90%;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.left-border {
    border-left: 1px solid #ccc;
    margin-left: 20px;
}

.scroll {
    overflow-y: auto;
}

/* 템플릿 매니저 속성 */
.folder-head {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #E6E6E6;
}

.folder-title-text {
    font-size: 30px;
    margin: 15px 0 5px 20px
}

.template-manager-button {
    margin-left: 20px;
}

.template-button-navy {
    border-radius: 3px;
    background-color: #1E1F31;
    width: 80px;
    height: 30px;
    border: solid #C6C6C6 1px;
    color: #FFFFFF;
    margin: 10px 5px 20px 5px;
    cursor: pointer;
}

.template-button-gery {
    border-radius: 3px;
    background-color: #E6E6E6;
    width: 80px;
    height: 30px;
    border: solid #999999 1px;
    color: #000000;
    margin: 10px 5px 20px 5px;
    cursor: pointer;
}

.template-folder-table thead tr th {
    text-align: left;
    border-bottom: solid #E6E6E6 1px;
}

.template-folder-table td {
    text-align: left;
}

.template-folder-table th:nth-child(1) {
    text-align: center;
    font-size: 20px;
}

.template-folder-table td:nth-child(1) {
    text-align: center;
    font-size: 20px;
}

/* 테이블의 상하 border 끊기지 않도록 설정 */
.template-folder-table {
    border-collapse: collapse;
}

/* 컨텐츠 없음 문구 */
.none-content-huge {
    color: #C6C6C6;
    font-size: 40px;
    margin-top: 200px;
}

.none-content-mini {
    color: #C6C6C6;
    font-size: 20px;
    text-align: center;
}

/* A4 컴포넌트 아우터 */
.page-component-outer {
    padding: 30px 30px 0px 30px;
}

/* A4 컴포넌트 이너 */
.page-component-inner {
    border: #000000 solid 1px;
    width: 21cm;
    min-height: 29.7cm;
    padding: 1.5cm 1.5cm 2cm 1.5cm;
}

/* 템플릿 제목 */
.template-title {
    margin: 20px 0px 70px 0px;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.template-title input {
    font-size: 40px;
    text-align: center;
    width: 100%;
    border: none;
}

/* 결재 영역 */
.approval-area {
    display: flex;
    margin-left: auto;
}


/* 템플릿 기안정보 */
.draft-info {
    left: 0px;
}

.draft-info table {

    font-size: 14px;
    width: auto;
    border-collapse: collapse;
}

.draft-info th,
.draft-info td {
    border: 1px solid black;
    text-align: left;
    padding: 4px 0 4px 8px;
}

.draft-info th {
    width: 90px;
}

.draft-info td {
    width: 130px;
}



/* 양식 설정 핸들러 */
.template-set-component {
    width: 400px;
    font-size: 16px;
    margin-bottom: 40px;
}

.template-set-component label {
    font-size: 20px;
}

.template-set-component select {
    margin-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 5px;
}

.template-set-component button {
    margin-right: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0 10px;
    background-color: #1E1F31;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.template-set-component input,
.template-set-component textarea,
.template-set-component label {
    /* min-height: 22px; */
    height: auto;
    width: 210px;
    font-size: 16px;
    resize: none;
}
.template-set-component input[type="radio"]{
    width: 20px;
}

.template-set-component th {
    vertical-align: top;
    padding-right: 15px;
}
.template-set-component td {
    vertical-align: top;
    height: 25px;
}

.template-set-inner {
    margin: 10px 20px 20px;
}
.template-set-inner input{
    padding: 0px 5px;
}

/* 양식 결재선 박스 */
.approval-box {
    display: table;
    border-collapse: collapse;
    width: 70px;
    height: 90px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: black;
    flex-shrink: 0;
    font-size: 12px;
}

.approval-box-cover {
    display: table-row;
    text-align: center;
    height: 17px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.approval-box-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
}

.approval-box-description {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 90px;
    background-color: #C6C6C6;
    margin-left: 10px;
    border: 1px solid black;
}

.border-bottom-padding{
    padding: 15px 0px;
    border-bottom: 1px solid #C6C6C6;
    
}

.new-line-preview-area {
    display: flex;
    align-items: center;
    position: relative
}

.new-line-preview-area img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.new-line-area {
    padding: 15px 0px 15px;
}

.close-button {
    font-size: 30px;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.handling-box{
    background-color: antiquewhite;
}
.handling-box-comment{

}
.document-search-bar{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: white;
    border-radius: 15px;
    padding: 0px 50px;
    align-items: center;
}
.same-category{
    align-items: center;
    margin-right: 20px;
}
.same-category label{
    margin: 10px;
}
.same-category input,
.same-category select {
    width: 120px;
    padding: 5px 15px;
}
.same-category input[type="date"] {
    width: 130px;
    padding: 5px 15px;
}
.mini-input{
    width: 70px;
    padding: 5px 15px;
}
.document-search-bar button {
    background-color: #2F3850;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: auto;
    border-radius: 3px;
    cursor: pointer;
}
.document-list-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
}
.document-list-table thead tr {
    background-color: #1E1F31;
    color: #ffffff;
    text-align: left;
}
.document-list-table th,
.document-list-table td {
    padding: 12px 15px;
}
.document-list-table table thead th:first-child {
    border-top-left-radius: 15px;
}
.document-list-table table thead th:last-child {
    border-top-right-radius: 15px;
}
.document-list-table table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: white;
}
.document-list-table th:nth-child(1),
.document-list-table th:nth-child(5){
    width: 200px;
}
.document-list-table th:nth-child(2){
    width: 150px;
}
.document-list-table th:nth-child(3){
    width: 200px;
}
.document-list-table th:nth-child(4){
    width: 500px;
}
.document-list-table th:nth-child(1){
    text-align: center;
}
.document-list-table th:nth-child(2){
    text-align: center;
}
.document-list-table th:nth-child(5){
    text-align: center;
}
.document-list-table th:nth-child(6){
    text-align: center;
}
.document-list-table th:nth-child(7){
    text-align: center;
}
.document-list-table td:nth-child(1){
    text-align: center;
}
.document-list-table td:nth-child(2){
    text-align: center;
}
.document-list-table td:nth-child(5){
    text-align: center;
}
.document-list-table td:nth-child(6){
    text-align: center;
}
.document-list-table td:nth-child(7){
    text-align: center;
}
.integration-table-area {
    margin: 40px 0px 20px 0px
}
.integration-table-area table{
    width: 100%;
    border-collapse: collapse;
}
.integration-table-area td,
.integration-table-area th{
    border: solid black 1px;
    height: 30px;
    padding-left: 20px;
}