.main-content {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* 상태 요약 섹션을 가운데 정렬 */
}

.status-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    max-width: 1800px; /* 상태 요약 섹션의 최대 너비를 늘리기 */
    width: 100%; /* 상태 요약 섹션의 너비를 부모에 맞추기 */
}

.status-item {
    flex: 1;
    padding: 0 10px;
}

.status-title {
    display: block;
    font-size: 14px;
    color: #666;
}

.status-value {
    display: block;
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
}

.status-value-gray {
    color: #999;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #ddd;
    margin: 0 10px;
}

.AttendanceStatusWeekSection {
    margin-top: 20px;
}

.AttendanceStatusWeekSection .week {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none; /* 여기를 변경 */
}

.AttendanceStatusWeekSection .week > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* 여기에 구분선 추가 */
}

.AttendanceStatusWeekSection .week-content {
    width: 100%;
    margin-top: 10px;
    display: none;
    padding-bottom: 10px;
}

.AttendanceStatusWeekSection .week.open .week-content {
    display: block;
}

.week-table {
    width: 100%;
    border-collapse: separate; /* 변경된 부분 */
    border-spacing: 0; /* 테이블 셀 사이의 간격을 없앰 */
    margin-bottom: 20px;
    background-color: white;
}

.week-table th, .week-table td {
    border-top: 1px solid #ddd; /* 상단 테두리 추가 */
    border-bottom: 1px solid #ddd; /* 하단 테두리 추가 */
    padding: 8px;
    text-align: center;
}

.week-table th {
    background-color: #1E1F31;
    color: white;
}

.week-table thead th:first-child {
    border-top-left-radius: 15px;
}

.week-table thead th:last-child {
    border-top-right-radius: 15px;
}

.no-radius {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.week-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}

.week-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}

.icons-text {
    margin-right: auto;
}

.week-summary {
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 10px;
}

.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.date-picker {
    border: 1px solid #ddd;
    padding: 7px 10px; /* 패딩을 줄여 크기 조절 */
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-color: transparent; /* 투명 배경 설정 */
    box-shadow: none; /* 그림자 제거 */
    width: 100px; /* 너비를 픽셀 값으로 설정 */
    transition: box-shadow 0.3s ease;
}

.date-picker:focus {
    outline: none;
    box-shadow: none; /* 포커스 시 그림자 제거 */
}

.date-navigation .navigation-icon {
    font-size: 24px;
    cursor: pointer;
    margin: 0 30px; /* 양옆 간격 조절 */
    color: #333;
    transition: color 0.3s ease;
}

.date-navigation .navigation-icon:hover {
    color: #007bff;
}

.sunday {
    color: red;
}

.saturday {
    color: blue;
}
